@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
    url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-DemiBold.woff') format('woff'),
    url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", serif, sans-serif;
}

.wrapper {
    width: 320px;
    height: 100%;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 16px 0 52px 0 #0E185033,
                 -2px 0 4px 0 #454F7E05;

}


/* Обнуление стилей кнопки */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

/**************** HEADER *********************/

.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.menu__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

/**************** BUTTONS ******************/

.button {
    position: relative;
    min-width:40px;
    min-height:40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: 0;
    transition-duration: 0.5s;
}

.button__close {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../icons/close.png');
    background-position:center;
    background-repeat: no-repeat;
}

.button__search {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../icons/search.png');
    background-position:center;
    background-repeat: no-repeat;
}

.button__call {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../icons/call.png');
    background-position:center;
    background-repeat: no-repeat;
}

.button__chat {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../icons/chat.png');
    background-position:center;
    background-repeat: no-repeat;
}

.button__profile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../icons/profile.png');
    background-position:center;
    background-repeat: no-repeat;
}

.button:hover {
    transform: scale(1.2);
    background-color: #ff0000;
}


/********************* OPTIONS *******************/

.menu__options {
    margin: 40px 0 0 0;
    list-style: none;
    padding: 0;
}

.menu__option {
    position: relative;
    margin-bottom: 30px;
    padding-left: 24px;
    line-height: 32px;
}

.menu__option:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    top: 0;
    left: 0;
    border-radius: 0 5px 5px 0;
    display: none;
}

.menu__option:hover {
    color: #7E7E82;
}

.menu__option:hover:before {
    display: block;
}

/***************** FOOTER ****************/

.footer {
    padding-left: 24px;
}

.footer__buttons {
    display: flex;
    gap: 16px;
}

.footer__contacts {
    margin-top: 16px;
}

.footer__phone {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    font-weight: bold;
    margin-top: 12px;
}

.footer__lang {
    display: flex;
    margin-top: 40px;
    gap: 7px;
}

.lang:focus {
    color: #7E7E82;
}

