@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
  url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-DemiBold.eot');
  src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
  url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-DemiBold.woff') format('woff'),
  url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
  url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Medium.woff') format('woff'),
  url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html, body {
  position: relative;
  font-family: "TT Lakes", serif, sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #F8F8F8;
  max-width: 1120px;
}

/******* HEADER *******/
.header {
  background-color: #FFFFFF;
  display: flex;
  gap: 16px;
  padding-left: 16px;
  align-items: center;
  max-width:1120px;
  height: 88px;
  justify-content: space-between;
}

.header__sd {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__md {
  display: flex;
  gap: 16px;
  padding-left: 16px;
  align-items: center;
  height: 88px;
  margin-right: 22px;
}

.header--hidden-sd {
  visibility: hidden;
  display: none;
}

/****************BUTTONS ********************/

/* Обнуление стилей кнопки */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button {
  position: relative;
  min-width:40px;
  min-height:40px;
  border-radius: 50%;
  background-color: #FF3E79;
  border: 0;
  transition-duration: 0.5s;
  background-position:center;
  background-repeat: no-repeat;
}

.button__burger {
  background-image: url('../icons/burger.png');
}

.button__call {
  background-image: url('../icons/call.png');
}

.button__chat {
  background-image: url('../icons/chat.png');
}

.button__profile {
  background-image: url('../icons/profile.png');
}

.button__repair {
  background-image: url('../icons/repair.png');
}

.button__checkstatus {
  background-image: url('../icons/checkstatus.png');
}

.button__close {
  background-image: url('../icons/close.png');
}

.button__search {
  background-image: url('../icons/search.png');

}

.button:hover {
  transform: scale(1.2);
  background-color: #ff0000;
}

/********** MAIN **********/


.main {
  margin: 0;
}

.main__list{
  display:flex;
  margin: 0 22px 0 10px;
  overflow-x: auto;

}

.main__elem {
  margin: 0 15px;
  white-space: nowrap;
  font-size: 16px;
  color: #7E7E82;
  line-height: 40px;
}

.main__elem:focus {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 0 8px;
}

.about__main {
  margin-left: 2%;
}


/**************** MAIN 1120px *************/

.main__container {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}

h1 {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main__options {
  margin-right: 22px;
}

.main__options--hidden {
  display: none;
  visibility: hidden;
}


.main__option {
  display: flex;
  margin-left: 15px;
  align-items: center;
  gap: 10px;
}



/*********** ABOUT ************/

.about__text {
  height: 130px;
  overflow: hidden;
}


.cpsphoto {
  width: 320px;
  border-radius: 2%;
}
.button__readmore {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  white-space: pre;
}

/************************** BRANDS *************************/


.brands__title {
  height: 80px;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  position: relative;
}

.brands__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-transform: uppercase;
  color: #7E7E82;
  padding: 16px;
}

.swiper-wrapper {
  padding-bottom: 30px;
}

.swiper-pagination {
  bottom: 0 !important;
}

.card {
  margin: 16px 0 0 10px;
  display: flex;
  min-width: 224px;
  max-width: 240px;
  min-height: 72px;
  background-color: #FFFFFF;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}



.card__brand--lenovo {
  width: 108px;
  height: 32px;
  background-image: url("../icons/lenovo.png");
}

.card__brand--samsung {
  width: 116px;
  height: 39px;
  background-image: url("../icons/samsung.png");
}

.card__brand--hp {
  width: 120px;
  height: 50px;
  background-image: url("../icons/hp.png");
  background-repeat: no-repeat;
}

.card__brand--sony {
  width: 128px;
  height: 26px;
  background-image: url("../icons/sony.png");
}

.card__button {
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 20px;
  background-image: url("../icons/dropdown.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button__show {
  margin-left: 10px;
  display: none;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;

}
.button__arrow {
  margin-right: 10px;
}
.button__arrow--rotate {
  transform: rotate(180deg);
}
/* Обнуление стилей кнопки */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/*********************** BURGER ************************/


.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 320px;
  height: 100vh;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 16px 0 52px 0 #0E185033,
  -2px 0 4px 0 #454F7E05;
  transition-duration: 0.7s;
}

.wrapper__closed {
  transform: translateX(-500%);
}


/**************** BURGER HEADER *********************/

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

}

.menu__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}


/********************* BURGER OPTIONS *******************/

.menu__options {
  margin: 40px 0 0 0;
  list-style: none;
  padding: 0;
}

.menu__option {
  position: relative;
  margin-bottom: 30px;
  padding-left: 24px;
  line-height: 32px;
}

.menu__option:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  top: 0;
  left: 0;
  border-radius: 0 5px 5px 0;
  display: none;
}

.menu__option:hover {
  color: #7E7E82;
}

.menu__option:hover:before {
  display: block;
}

/***************** BURGER FOOTER ****************/

.footer {
  padding-left: 24px;
}

.footer__buttons {
  display: flex;
  gap: 16px;
}

.footer__contacts {
  margin-top: 16px;
}

.footer__phone {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  font-weight: bold;
  margin-top: 12px;
}

.footer__lang {
  display: flex;
  margin-top: 40px;
  gap: 7px;
}

.lang:focus {
  color: #7E7E82;
}

/**************** MEDIA 768px *****************/


@media (min-width:768px) {
  .header--hidden-sd {
    visibility: visible;
    display: flex;
  }

  .header__md {
    justify-content: flex-end;
    width: 880px;
  }
  .header--hidden-sd {
    display: flex;
    justify-items: flex-end;
  }

  .about__text {
    height: 150px;
  }
  .about {
    display: flex;
  }
  .about__main {
    flex-basis: 48%;
    font-size: 14px;
  }

  .about__image {
    flex-basis: 48%;
    margin: 2%;
  }
  .cpsphoto {
    min-width: 100%;
    border-radius: 2%;
  }
  .brands__title {
    height: 56px;
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 185px;
    padding-bottom: 0;
  }
  .swiper-wrapper__full {
    max-height: 100%;
  }
  .button__show {
    display: inline-block;
    margin-top: 15px;
    align-self: center;
  }
}

/**************** MEDIA 1120px *****************/

@media (min-width:1120px) {
  .header, .header__720 {
    visibility: hidden;
    display: none;
  }

  .main__options--hidden {
    display: flex;
    visibility: visible;
  }

  .main__list {
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .main__elem:last-child {
    padding: 0 0px;
    margin-top: 10px;
  }
  .button__readmore {
    display: none;
  }
  .brands__title {
    height: 56px;
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 185px;
    padding-bottom: 0;
  }
  .swiper-wrapper__full {
    max-height: 100%;
  }
}

.about__text--full {
  height: 90%;
}

