@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
  url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-DemiBold.eot');
  src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
  url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-DemiBold.woff') format('woff'),
  url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
  url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Medium.woff') format('woff'),
  url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html, body {
  font-family: "TT Lakes", serif, sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #F8F8F8;
  max-width: 1120px;
}

/******* HEADER *******/
.header {
  background-color: #FFFFFF;
  display: flex;
  gap: 16px;
  padding-left: 16px;
  align-items: center;
  max-width:1120px;
  height: 88px;
  justify-content: space-between;
}

.header__sd {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__md {
  display: flex;
  gap: 16px;
  padding-left: 16px;
  align-items: center;
  height: 88px;
  margin-right: 22px;
}

.header--hidden-sd {
  visibility: hidden;
  display: none;
}

/****************BUTTONS ********************/

.button {
  position: relative;
  min-width:40px;
  min-height:40px;
  border-radius: 50%;
  background-color: #FF3E79;
  border: 0;
}

.button__burger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../icons/burger.png');
  background-position:center;
  background-repeat: no-repeat;
}

.button__call {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../icons/call.png');
  background-position:center;
  background-repeat: no-repeat;
}

.button__chat {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../icons/chat.png');
  background-position:center;
  background-repeat: no-repeat;
}

.button__profile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../icons/profile.png');
  background-position:center;
  background-repeat: no-repeat;
}

.button__repair {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../icons/repair.png');
  background-position:center;
  background-repeat: no-repeat;
}

.button__checkstatus {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../icons/checkstatus.png');
  background-position:center;
  background-repeat: no-repeat;
}

/********** MAIN **********/


.main {
  margin: 0;
}



.main__list{
  display:flex;
  margin: 0 22px 0 10px;
  overflow-x: auto;
}

.main__elem {
  margin: 0 15px;
  white-space: nowrap;
  font-size: 16px;
  color: #7E7E82;
  line-height: 40px;
}

.main__elem:first-child {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 0 8px;
}

.about__main {
  margin-left: 2%;
}


/**************** MAIN 1120px *************/

.main__container {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}

h1 {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main__options {
  margin-right: 22px;
}

.main__options--hidden {
  display: none;
  visibility: hidden;
}


.main__option {
  display: flex;
  margin-left: 15px;
  align-items: center;
  gap: 10px;
}



/*********** ABOUT ************/

.about__all--hidden, .about__all--hidden-md {
  visibility: hidden;
  display: none;
}

.cpsphoto {
  width: 320px;
  border-radius: 2%;
}
.about__readmore {
  font-weight: 500;
  font-size: 16px;
  white-space: pre;
}

/**************** MEDIA 768px *****************/


@media (min-width:768px) {
  .header--hidden-sd {
    visibility: visible;
    display: flex;
  }

  .header__md {
    justify-content: flex-end;
    width: 880px;
  }
  .header--hidden-sd {
    display: flex;
    justify-items: flex-end;
  }

  .about__all--hidden {
    visibility: visible;
    display: inline;
  }
  .about {
    display: flex;
  }
  .about__main {
    flex-basis: 48%;
    font-size: 14px;
  }

  .about__image {
    flex-basis: 48%;
    margin: 2%;
  }
  .cpsphoto {
    min-width: 100%;
    border-radius: 2%;
  }
}

/**************** MEDIA 1120px *****************/

@media (min-width:1120px) {
  .header, .header__720 {
    visibility: hidden;
    display: none;
  }

  .main__options--hidden {
    display: flex;
    visibility: visible;
  }

  .main__list {
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .main__elem:last-child {
    padding: 0 8px;
    margin-top: 10px;
  }
  .about__all--hidden-md {
    visibility: visible;
    display: inline;
  }
}

